{% extends 'base_user.html' %}
{% load static %}

{% block right %}
  <div class="d-flex flex-column">
    {% if object %}
      <h4 class="collection-detail-title">Edit Note</h4>
      {% else %}
        <h4 class="mb-3">Create Note</h4>
    {% endif %}
    <form action="" method="POST">
      <div class="d-flex flex-column mb-3">
        {% csrf_token %}
        {{ form.as_p }} 
        <button class="btn btn-blu mt-3 mb-3" type="submit" style="width: 50%">Submit</button>
      </div>
    </form>
    {% if object %}
      <a class="btn btn-red mb-2" href="{% url 'notes_delete' collection.id note.id %}">Delete Note</a>
      <p class="small-text delete-link mt-1"><b>Warning: </b>This action cannot be undone.</p>
    {% endif %}
  </div>

  <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          tinymce.init({
              selector: 'textarea',
          });
      });
  </script>
{% endblock %}

