{% extends 'base.html' %}

{% block content %}

<div class="content-container container mt-4">
    <div class="row">
        <div class="top-row px-5 d-flex flex-row justify-content-between align-items-end">
            <h4 class="container-title">My References</h4>
            <div class="right-btns d-flex flex-row">
                <form action="{% url 'search_results' %}" method="GET" class="d-flex" role="search">
                    <select name="type" class="search-dropdown">
                        <option value="search-user">My Collections</option>
                        <option value="search-shared">All Collections</option>
                    </select>
                    <input name="q" class="search-bar form-control ms-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn search-btn" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
        <div class="border-line"></div>
    </div>
    <div class="col-content-container ref-container row px-4">
        
        <div class="ref-form-container row p-4">
            <div class="col-5">
                <h4 class="container-title">Add a new reference</h4>
                <h2 class="container-desc">Use the form to upload a reference. Accepts images, PDFs and videos.</h2>
            </div>
            <div class="col-7">
                <form class="d-flex flex-column" action="{% url 'references_create' %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="form-group d-flex mt-1 mb-3">
                        <label class="me-3" for="{{ form.name.id_for_label }}">Name</label>
                        {{ ref_form.name }}
                    </div>
                    <div class="form-group d-flex mt-1 mb-3">
                        <label class="me-3" for="{{ form.name.id_for_label }}">Type</label>
                        {{ ref_form.type }}
                    </div>
                    <input type="file" name="url">
                    <button class="btn btn-blu-2 mt-3" type="submit" style="width: 60%">Submit!</button>
                </form>
            </div>
            
        </div>
    
            {% if references.count %}
                {% for reference in references %}
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="ref-card card my-2 p-3">
                        <p class="mt-2">{{ reference.name }} ({{ reference.get_type_display }})</p>
                        {% if reference.type == 'I' %}
                        <button type="button" class="btn btn-blu-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-reference-url="{{ reference.url }}">
                            <img src="{{ reference.url }}" width="100%">
                        </button>
                        {% else %}
                        <a role="btn" class="btn btn-blu" href="{{ reference.url }}">Download</a>
                        {% endif %}
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'references_page_update' reference.id %}"><i class="bi bi-pencil-square"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img id="modalImage" width="480px">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                </div>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                    const modal = new bootstrap.Modal(document.getElementById('exampleModal'));
                        document.querySelectorAll('[data-bs-toggle="modal"]').forEach(function (button) {
                            button.addEventListener('click', function () {
                                const referenceUrl = this.getAttribute('data-reference-url');
                                document.getElementById('modalImage').src = referenceUrl;
                                modal.show();
                            });
                        });
                    });
                </script>

            {% else %}
            <div class="col-lg-12">
                <p class="mt-2">No references have been added.</p>
            </div>
            {% endif %}
       
    </div>
</div>


{% endblock %}