{% extends 'base.html' %}

{% block content %}

<div class="content-container container mt-4">
    <div class="row">
        {% block top %}
        <div class="top-row px-5 d-flex flex-row justify-content-between align-items-end">
            <h4 class="container-title">My Saved Collections</h4>
            <div class="right-btns d-flex flex-row">
                <form action="{% url 'search_results' %}" method="GET" class="d-flex" role="search">
                    <select name="type" class="search-dropdown">
                        <option value="search-user">My Collections</option>
                        <option value="search-shared">All Collections</option>
                    </select>
                    <input name="q" class="search-bar form-control ms-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn search-btn" type="submit"><i class="bi bi-search search-icon"></i></button>
                </form>
            </div>
        </div>
        <div class="border-line"></div>
        {% endblock %}
    </div>
    <div class="col-content-container row">
        <div class="left-col col-12 col-md-4">
            {% block left %}
            <div class="d-flex flex-column">
                <p class="sort-links mt-2">Sort By: 
                    <a class="visual-link" href="?sort_by=date_created" {% if sort_by == 'date_created' %} class="selected" {% endif %}>Date Created</a> | 
                    <a class="visual-link"  href="?sort_by=date_updated" {% if sort_by == 'date_updated' %} class="selected" {% endif %}>Date Updated</a>
                </p>
                {% for collection in page_obj %}
                    <div class="collection-card card my-2 p-3" data-url="{% url 'saved_collections_detail' collection.id %}">
                        <h4 class="card-title mb-2">{{ collection.name }}</h4>
                        <p class="card-subtitle mb-1">Created by <b>{{ collection.user.username }}</b> on {{ collection.date_created|date:"M j, Y" }}</p>
                        <p class="card-subtitle mb-2">Last updated: {{ collection.date_updated|date:"M j, Y" }}</p>
                        <p class="card-text">{{ collection.description }}</p>
                        {% if collection.shared == True %}
                            <p class="card-text" style="color: var(--blu-pop-med)">Shared</p>
                            {% else %}
                            <p class="card-text" style="color: var(--green)">Private</p>
                        {% endif %}
                        
                    </div>
                {% endfor %}

                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                
                        {% if page_obj.has_next or page_obj.has_previous %}
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                        {% endif %}
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>

            </div>     
            {% endblock %}
        </div>
        <div class="right-col col-12 col-md-8">
            {% block right %}
            {% load static %}
            <div class="welcome-right-container">
                <div class="image-wrapper mt-5">
                    <img src="{% static 'images/logo-transparent.png' %}" alt="" style="width: 400px">
                </div>
                <div class="welcome-box">
                    <h2 class="text-center">You're not alone!</h2>
                    <h4 class="text-center mt-4">Join a rich community of like-minded coding enthusiasts. Dive in by browsing all collections shared by other users, or search for a specific topic of interest.</h4>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const collectionCards = document.querySelectorAll('.collection-card');
        collectionCards.forEach(function(collectionCard) {
            collectionCard.addEventListener('click', function() {
                const url = collectionCard.dataset.url;
                window.location.href = url;
            });
        });
    });
</script>

{% endblock %}