{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Brightfuture's Note Taking App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Karma&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
      rel="shortcut icon"
      href="{% static 'images\favicon.ico' %}"
      type="image/x-https://loading.io/asset/767819icon"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container mt-3 mb-3">
      <nav class="navbar navbar-expand-lg stroke">
        <div class="container-fluid">
          {% if user.is_authenticated %}
          <div class="d-flex flex-column">
            <a class="navbar-brand" href="/">BrightFuture</a>
            <h4 class="nav-welcome m-0">
              Welcome back,
              <span class="username-txt ms-1">{{ user.username }}</span>
            </h4>
          </div>
          {% endif %}

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'index' %}"
                  ><button class="nav-btn btn btn-lg">My Collections</button></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="{% url 'shared_collections' %}"
                  ><button class="nav-btn btn btn-lg">
                    Browse Collections
                  </button></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="{% url 'saved_collections_index' %}"
                  ><button class="nav-btn btn btn-lg">
                    Saved Collections
                  </button></a
                >
              </li>
              <li class="nav-item">
                <form action="{% url 'logout' %}" method="POST">
                  {% csrf_token %}
                  <button class="nav-btn btn btn-lg" type="submit">
                    Log Out
                  </button>
                </form>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
