{% extends 'base.html' %} {% block content %} {% load static %}

<style>
  .button {
    margin: 0 3px;
  }
</style>

<div
  class="login-content-container container py-4"
  style="background-color: var(--sky-blyu)"
>
  <div class="row" style="height: 80%">
    <div class="login-left-container mx-2 p-1">
      <div class="image-wrapper">
        <img
          src="{% static 'images/logo-transparent.png' %}"
          alt=""
          style="width: 400px"
        />
      </div>
      <h2
        class="container-title text-center mt-4"
        style="font-size: 20px; width: 60%"
      >
        Welcome to BrightFuture's Note Taking App, a notetaking platform to help
        you stay organized on your coding journey.
      </h2>

      <div class="d-flex mt-4">
        <a
          role="btn"
          class="btn btn-blu me-1 button"
          style="width: 150px"
          href="{% url 'login' %}"
          >Log In</a
        >
        <a
          role="btn"
          class="btn btn-blu ms-1 button"
          style="width: 150px"
          href="{% url 'signup' %}"
          >Sign Up</a
        >
        <a
          role="btn"
          class="btn btn-blu ms-1 button"
          style="width: 150px"
          href="{% url 'base_home' %}"
          >Back To Home</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
