{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brightfuture's Note Taking App</title>
    <link rel="stylesheet" href="{% static 'css/note-app-home.css' %}" />
    <link rel="shortcut icon" href="{% static 'images\favicon.ico' %}" />
  </head>
  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="#" autocomplete="off" class="sign-in-form">
              <div class="logo">
                <img src={% static "images/bf-logo-transparent.png" %}
                alt="brightfuture" />
              </div>

              <div class="heading">
                <h2>Welcome To BrightFuture's Note Taking App</h2>
              </div>

              <div class="actual-form">
                <a href="{% url 'login' %}" class="sign-btn">Log In</a>
                <a href="{% url 'signup' %}" class="sign-btn">Sign Up</a>
                <a href="{% url 'base_home' %}" class="sign-btn"
                  >Back To Home</a
                >

                <p class="text">
                  *Note: Select appropriate option from above to proceed
                </p>
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src={% static "images/image1.png" %} class="image img-1
              show"/>
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Create your own note</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
