{% load static %}
<!DOCTYPE html>
<!-- Source Codes By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dropout Prediction - BrightFuture</title>
    <link rel="stylesheet" href="{% static '\css\dropout_form.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="dropout_form">
      <!-- Login form container -->
      <form action="#">
        <h3>Dropout Prediction</h3>

        <!-- 1st Internal Input -->
        <div class="input_box">
          <label for="1st-internal">1st Internal Mark</label>
          <input
            type="text"
            id="1st-internal"
            placeholder="Enter 1st internal mark"
            required
          />
        </div>

        <!-- 2nd Internal Input -->
        <div class="input_box">
          <label for="2nd-internal">2nd Internal Mark</label>
          <input
            type="text"
            id="2nd-internal"
            placeholder="Enter 2nd internal mark"
            required
          />
        </div>

        <!-- Tuition Fee Input -->
        <div class="input_box">
          <label for="tuition-input"
            >Is Your Tuition Fee Up-To-Date (Yes / No)</label
          >
          <input
            type="text"
            id="tuition-input"
            placeholder="Enter Yes / No "
            required
          />
        </div>

        <!-- Attendence Input -->
        <div class="input_box">
          <label for="attendence-input"
            >Is Your Attendence Greater Than 75% <br />
            (Yes / No)</label
          >
          <input
            type="text"
            id="attendence-input"
            placeholder="Enter Yes / No "
            required
          />
        </div>

        <!-- Predict button -->
        <div class="dropout-buttons">
          <button
            type="button"
            class="go-home-btn"
            onclick="location.href='{% url 'home' %}'"
          >
            Go Home
          </button>
          <button type="submit" class="btn">
            Predict Now <i class="ri-arrow-right-line"></i>
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
