{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BrightFuture - Know Your Risk Early</title>
    <!-- Linking favicon.ico -->
    <link
      rel="shortcut icon"
      href="{% static 'images\favicon.ico' %}"
      type="image/x-https://loading.io/asset/767819icon"
    />
    <!-- Linking CSS -->
    <link rel="stylesheet" href="{% static '\css\home.css' %}" />
    <!-- Linking Remixicons-->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- Fontawesome CDN Link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Scroll to Top Button -->
    <button class="scroll-to-top-btn">
      <i class="fa fa-arrow-up"></i>
    </button>
    <!-- Page Loader -->
    <div class="loader" id="page-loader"></div>

    <!-- Dropout Popup Modal -->
    <div class="dropout-modal" id="dropout-modal">
      <div class="dropout-modal-content">
        <div class="top-form">
          <div class="close-modal" id="close-dropout-modal">&#10006;</div>
        </div>
        <div class="form-header">
          <h3>Dropout Prediction</h3>
        </div>
        <form
          action="{% url 'predict_dropout' %}"
          method="post"
          id="dropout-form"
        >
          {% csrf_token %}
          <div class="input_box">
            <label for="1st-internal">1st Internal Mark</label>
            <input
              type="text"
              id="1st-internal"
              name="1st-internal"
              placeholder="Enter 1st internal mark"
              required
            />
          </div>
          <div class="input_box">
            <label for="2nd-internal">2nd Internal Mark</label>
            <input
              type="text"
              id="2nd-internal"
              name="2nd-internal"
              placeholder="Enter 2nd internal mark"
              required
            />
          </div>
          <div class="input_box">
            <label for="tuition-input">Is Your Tuition Fee Up-To-Date?</label>
            <select id="tuition-input" name="tuition-input" required>
              <option value="" disabled selected>Select Yes or No</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div class="input_box">
            <label for="attendence-input"
              >Is Your Attendance Greater Than 75%?</label
            >
            <select id="attendence-input" name="attendence-input" required>
              <option value="" disabled selected>Select Yes or No</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <button type="submit" class="btn">
            Predict Now <i class="ri-arrow-right-line"></i>
          </button>
        </form>

        {% if prediction %}
        <div class="prediction-result">
          <h3>Prediction Result: {{ prediction }}</h3>
        </div>
        {% endif %}
      </div>
    </div>

    <!-- Course Recommendation Popup Modal -->
    <div class="course-modal" id="course-modal">
      <div class="course-modal-content">
        <div class="top-form">
          <div class="close-modal" id="close-course-modal">&#10006;</div>
        </div>
        <div class="form-header">
          <h3>Course Recommendation</h3>
        </div>
        <form action="{% url 'course_recom' %}" method="post">
          {% csrf_token %}
          <div class="input_box">
            <label for="field-of-interest"
              >Field of interests (e.g., Data Science, Business, AI)</label
            >
            <input
              type="text"
              id="field-of-interest"
              name="field-of-interest"
              placeholder="Enter field of interest"
              minlength="1"
              required
            />
          </div>
          <div class="input_box">
            <label for="skills-input"
              >Skills (e.g., Python, Machine Learning)</label
            >
            <input
              type="text"
              id="skills-input"
              name="skills-input"
              placeholder="Enter skills"
              minlength="1"
              required
            />
          </div>
          <div class="input_box">
            <label for="current-course-input"
              >Currently enrolled course (leave blank if none)</label
            >
            <input
              type="text"
              id="current-course-input"
              name="current-course-input"
              placeholder="Enter current course"
              minlength="1"
            />
          </div>

          <button type="submit" class="btn">
            Recommend Now <i class="ri-arrow-right-line"></i>
          </button>
        </form>
      </div>
    </div>

    <!-- Header and Navbar Started-->
    <nav id="navbar">
      <div class="logo">
        <a href="#">
          <img src="{% static 'images/logo-top.svg' %}" alt="BrightFuture" style="width: 250px; height: auto" />
        </a>
      </div>
      <ul class="navbar-links">
        <li class="menu-item"><a href="#" class="menu-link">Home</a></li>
        <li class="menu-item"><a href="#about" class="menu-link">About</a></li>
        <li class="menu-item"><a href="#contact" class="menu-link">Contact Us</a></li>
        <li class="note-app-link menu-item"><a href="{% url 'home' %}" target="_blank" class="menu-link">Note Taking App</a></li>
      </ul>
    </nav>

    <!-- Header and Navbar Ended-->
    <!-- Home Section Started-->
    <section id="home-section" class="home-content">
        <!-- New wrapper div -->
        <div class="home-left">
          <h1 class="home-left-main-title01">assisting</h1>
          <h1 class="home-left-main-title02">brilliance!</h1>
          <p class="home-left-para">
            Need help choosing the
            <span
              style="
                color: #23492e;
                text-decoration: underline;
                font-style: italic;
              "
              >right course?</span
            >
            Worried about
            <span
              style="
                color: #23492e;
                text-decoration: underline;
                font-style: italic;
              "
              >falling behind?.</span
            >
            Know your academic risk early.
          </p>
        </div>
        <div class="home-right">
          <a class="home-btn" id="drop-btn" href="#">
            Dropout Prediction
            <i class="ri-arrow-right-line"></i>
          </a>
          <a class="home-btn" id="course-btn" href="#">
            Course Recommendation
            <i class="ri-arrow-right-line"></i>
          </a>
          {% comment %}
          <p class="home-right-para">
            Note: While filling the details, make sure that all the details are
            correctly filled.
          </p>
          {% endcomment %}
        </div>
    </section>
    <!-- Home Section Ended-->

    <!--Why Choose Us Section Started-->
    <section id="why-choose-us">
      <div class="box-container">
        <div>
          <i class="ri-git-repository-private-fill"></i>
          <h2>Robust Data Security</h2>
          <p>
            We prioritize the security of your data. We do not store any
            personal information or sensitive data, ensuring your privacy and
            protecting you from potential cyber threats.
          </p>
        </div>
        <div>
          <i class="ri-donut-chart-fill"></i>
          <h2>Accurate Predictions</h2>
          <p>
            Our advanced AI analyzes extensive student data to accurately
            predict dropout risk. This proactive approach empowers you to
            identify and support at-risk students early on.
          </p>
        </div>
        <div>
          <i class="ri-account-box-line"></i>
          <h2>Personalized Recommendations</h2>
          <p>
            Our system offers personalized course recommendations to keep
            students engaged and motivated, improving their academic performance
            and reducing dropout risk.
          </p>
        </div>
      </div>
    </section>

    <!--Why Choose Us Section Ended-->
    <!--Note Taking App Section Started-->

    <section class="note-taking-section" id="note-taking-secton">
      <div class="note-taking-main">
        <div class="note-taking-all-text">
          <h1>
            <span id="note-taking-inro-span">Introducing Our</span> <br />Note
            Taking App
          </h1>
          <p>
            Never let a brilliant idea slip away. Our note-taking app provides a
            sanctuary for your thoughts, allowing you to capture them in an
            instant, organize them with ease, and access them quickly and
            easily, whenever inspiration strikes. Simplify your life, unleash
            your creativity, and boost your productivity with the power of
            organized thought.
          </p>
          <div class="note-taking-btn">
            <a href={% url "home" %} class="note-taking-btn" target="_blank">Try Our App Now <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
        <img src="{% static '\images\note-image-01.png' %}" alt="" />
      </div>
    </section>
    <!--Note Taking App Section Ended-->
    <!-- About Section -->

    <section class="about" id="about">
      <div class="about-main">
        <img src="{% static '\images\About.png' %}" alt="" />
        <div class="about-all-text">
          <h4>About Us</h4>
          <h1>
            A Hub for <span class="span-hover"> Academic </span> Excellence
          </h1>
          <p>
            We're revolutionizing higher education with AI. Our cutting-edge
            tools, fueled by machine learning models like Random Forest and
            Logistic Regression, analyze vast datasets to predict and prevent
            student dropouts and offer personalized course recommendations to
            maximize student potential. By harnessing the power of AI, we're
            shaping the future of education, one student at a time.
          </p>
          <div class="about-btn">
            <a href="#contact" class="about-btn"> Contact Us </a>
            <a href="#home-section" class="about-btn about-btn-2"
              >Let's Get Started</a
            >
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Us Section -->
    <div class="contact" id="contact">
      <span class="big-circle"></span>
      <img src="{% static 'images/shape.png' %}" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's get in touch</h3>
          <p class="text">
            Have a question or want to learn more about how our services can
            elevate you? We're here to help! Feel free to reach out to us via
            the form.
          </p>

          <div class="info">
            <div class="information">
              <img
                src="{% static 'images/location.png' %}"
                class="icon"
                alt=""
              />
              <p>CyberTower, Ernakulam, Kerala, India - 683556</p>
            </div>
            <div class="information">
              <img src="{% static 'images/email.png' %}" class="icon" alt="" />
              <p>karthikunnikrishnan.dev@gmail.com</p>
            </div>
            <div class="information">
              <img src="{% static 'images/phone.png' %}" class="icon" alt="" />
              <p>+91 9037922004</p>
            </div>
          </div>

          <div class="social-media">
            <p>Connect with me :</p>
            <div class="social-icons">
              <a
                href="https://www.facebook.com/karthikunnikrishnanpage/"
                target="_blank"
              >
                <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a href="https://x.com/Karthik_Film" target="_blank">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
              <a
                href="https://www.instagram.com/karthik_unnikrishnan/"
                target="_blank"
              >
              <i class="fa-brands fa-instagram"></i>
              </a>
              <a
                href="https://www.linkedin.com/in/karthikunnikrishnandev/"
                target="_blank"
              >
              <i class="fa-brands fa-linkedin-in"></i>
              </a>
              <a
                href="https://github.com/karthikunnikrishnan"
                target="_blank"
              >
              <i class="fa-brands fa-github"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

          <form method="POST" action="{% url 'send_email' %}" id="contact-form">
            {% csrf_token %}
            <h3 class="title">Contact us</h3>
            <div class="input-container">
              <input type="text" id="name" name="name" class="input" />
              <label for="">Name</label>
              <span>Name</span>
            </div>
            <div class="input-container">
              <input type="email" name="email" class="input" id="email" />
              <label for="">Email</label>
              <span>Email</span>
            </div>
            <div class="input-container">
              <input type="tel" name="phone" id="phone" class="input" />
              <label for="">Phone</label>
              <span>Phone</span>
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input" id="message"></textarea>
              <label for="">Message</label>
              <span>Message</span>
            </div>
            <input
              type="submit"
              value="Send"
              class="contact-send-btn"
              id="send-button"
            />
            <script>
              document
                .getElementById("contact-form")
                .addEventListener("submit", function (event) {
                  event.preventDefault();
            
                  // Change cursor to wait
                  document.body.style.cursor = "wait";
            
                  // Simulate sending the message (you can replace this with actual AJAX call)
                  const formData = new FormData(this);
                  fetch(this.action, {
                    method: "POST",
                    body: formData,
                    headers: {
                      "X-Requested-With": "XMLHttpRequest",
                    },
                  })
                    .then((response) => {
                      // Revert cursor back to default
                      document.body.style.cursor = "default";
                      if (response.ok) {
                        alert("Message sent successfully!");
                        // Clear the form fields
                        this.reset(); // This will clear all input fields and textarea
                      } else {
                        alert("Failed to send the message. Please try again.");
                      }
                    })
                    .catch((error) => {
                      // Revert cursor back to default
                      document.body.style.cursor = "default";
                      alert("An error occurred. Please try again.");
                    });
                });
            </script>
          </form>
        </div>
      </div>
    </div>

    <!-- Footer Section -->

    <footer class="footer">
      <div class="header">
        <a href="#"
          ><img src="{% static 'images/logo-footer.svg' %}" alt=""
        /></a>
      </div>
      <div class="nav">
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <a href="#note-taking-secton">Note Taking App</a>
        <a href="#why-choose-us">Why Choose Us?</a>
      </div>
      <div class="footer-text">
        © BrightFuture. All Rights Reserved. Created By karthik Unnikrishnan
      </div>
    </footer>

    <!-- Linking Javascript File -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
  </body>
</html>
