{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BrightFuture</title>
    <link
      rel="shortcut icon"
      href="{% static 'images\favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static '\css\home.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header and Navbar Started-->

    <nav>
      <div class="logo">
        <a href="#"
          ><img
            src="{% static 'images\logo-top.svg' %}"
            alt="BrightFuture"
            style="width: 250px; height: auto"
        /></a>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">How It's Works</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>

    <!-- Header and Navbar Ended-->
    <!-- Home Section Started-->
    <section id="home-section">
      <div class="home-left">
        <h1 class="home-left-main-title01">assisting</h1>
        <h1 class="home-left-main-title02">brilliance!</h1>
        <p class="home-left-para">
          Need help choosing the <span>right course?</span> Worried about
          <span>falling behind?.</span> Know your academic risk early.
        </p>
      </div>
      <div class="home-right">
        <a class="btn" href="#">
          Dropout Prediction
          <i class="ri-arrow-right-line"></i>
        </a>
        <a class="btn" href="#">
          Course Recommendation
          <i class="ri-arrow-right-line"></i>
        </a>
        <p class="home-right-para">
          Note: While filling the details, make sure that all the <br />
          details are correctly filled.
        </p>
      </div>
    </section>
    <!-- Home Section Ended-->

    <script src="{ % static 'js\home.js' % }"></script>
  </body>
</html>
