{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BrightFuture - Know Your Risk Early</title>
    <!-- Linking favicon.ico -->
    <link
      rel="shortcut icon"
      href="{% static 'images\favicon.ico' %}"
      type="image/x-https://loading.io/asset/767819icon"
    />
    <!-- Linking CSS -->
    <link rel="stylesheet" href="{% static '\css\home.css' %}" />
    <!-- Linking Remixicons-->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Page Loader -->
    <div class="loader"></div>
    <!-- Header and Navbar Started-->
    <nav id="navbar">
      <div class="logo">
        <a href="#"
          ><img
            src="{% static 'images\logo-top.svg' %}"
            alt="BrightFuture"
            style="width: 250px; height: auto"
        /></a>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>

    <!-- Header and Navbar Ended-->
    <!-- Home Section Started-->
    <section id="home-section">
      <div class="home-content">
        <!-- New wrapper div -->
        <div class="home-left">
          <h1 class="home-left-main-title01">assisting</h1>
          <h1 class="home-left-main-title02">brilliance!</h1>
          <p class="home-left-para">
            Need help choosing the <span>right course?</span> Worried about
            <span>falling behind?.</span> Know your academic risk early.
          </p>
        </div>
        <div class="home-right">
          <a class="btn" href="#">
            Dropout Prediction
            <i class="ri-arrow-right-line"></i>
          </a>
          <a class="btn" href="#">
            Course Recommendation
            <i class="ri-arrow-right-line"></i>
          </a>
          {% comment %}
          <p class="home-right-para">
            Note: While filling the details, make sure that all the details are
            correctly filled.
          </p>
          {% endcomment %}
        </div>
      </div>
    </section>
    <!-- Home Section Ended-->

    <!--Why Choose Us Section Started-->
    <section id="why-choose-us">
      <h1 class="section-heading">Why Choose Us?</h1>
      <div class="box-container">
        <div>
          <i class="ri-git-repository-private-fill"></i>
          <h2>Data Security</h2>
          <p>
            We prioritize the security of your data. We do not store any
            personal information or sensitive data, ensuring your privacy and
            protecting you from potential cyber threats.
          </p>
        </div>
        <div>
          <i class="ri-donut-chart-fill"></i>
          <h2>Accurate Predictions</h2>
          <p>
            Our advanced AI analyzes extensive student data to accurately
            predict dropout risk. This proactive approach empowers you to
            identify and support at-risk students early on.
          </p>
        </div>
        <div>
          <i class="ri-account-box-line"></i>
          <h2>Personalized Recommendations</h2>
          <p>
            Our system offers personalized course recommendations to keep
            students engaged and motivated, improving their academic performance
            and reducing dropout risk.
          </p>
        </div>
      </div>
    </section>

    <!-- Linking Javascript File -->
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
  </body>
</html>
