{% extends 'base_user.html' %}

{% block left %}
  <div class="d-flex flex-column">
    {% if object %}
      <h4 class="collection-detail-title">Edit <span style="color: var(--blu-pop-med)">{{ object.name }}</span></h4>
      {% else %}
        <h4 class="collection-detail-title mb-1">Create Collection</h4>
    {% endif %}
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-group d-flex flex-column mt-1 mb-3">
        <label class="mb-2" for="{{ form.name.id_for_label }}">Name</label>
        {{ form.name }}
      </div>
    
      <div class="form-group d-flex flex-column  mt-3 mb-3">
        <label class="mb-2" for="{{ form.description.id_for_label }}">Description</label>
        {{ form.description }}
      </div>
    
      <div class="form-group mt-3 mb-3">
        {{ form.shared }}
        <label for="{{ form.shared.id_for_label }}">Share?</label>
        <p class="small-text mt-2"><b>NOTE: </b>Checking this box makes your collection and its notes and references visible to all users.</p>
      </div>
      <button class="btn btn-blu w-100" type="submit">Submit</button>
    </form>
    {% if object %}
    <a class="btn btn-red mt-4" href="{% url 'collections_delete' collection.id %}">Delete Collection</a>
    <p class="small-text delete-link mt-2">Deleting this collection does not delete the notes and references saved to it.</p>
    {% endif %}

  </div>
{% endblock %}

{% block right %}
{% load static %}
<div class="welcome-right-container">
  {% if object %}
    <div class="welcome-box">
      <h2 class="text-center mt-4">Editing a Collection</h2>
      <p class="collection-desc text-center mt-4">Update your collection's name, description or shared status.</p>
      <p class="collection-desc text-center"> To edit the notes or references belonging to this collection, navigate to your collection's <a class="visual-link" href="{% url 'detail' collection.id %}">detail page</a> instead.</p>
      <p class="collection-desc text-center">Deleting a collection is permanent, but will not delete this collection's references. The references will still be available to add to other collections, and can be accessed from the <a class="visual-link" href="{% url 'references_index' %}">My References</a> page.</p>
    </div>
  {% else %}
    <div class="welcome-box">
      <h2 class="text-center mt-4">Creating a New Collection</h2>
      <p class="collection-desc text-center mt-4">Collections are groupings of related notes and references.</p>
      <p class="collection-desc text-center">Use the form to create a collection by providing a name and description. Checking off <span style="color: var(--blu-pop-med); font-weight: 800;">Shared</span> will make your collection visibile to other users. This setting can be changed at any time!</p>
      <p class="collection-desc text-center">Once you've created your new collection, you will be able to add new <span style="color: var(--blu-pop-med); font-weight: 800;">notes</span> and <span style="color: var(--blu-pop-med); font-weight: 800;">references</span>.</p>
    </div>
  {% endif %}
  
</div>
{% endblock %}