/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Resetting default styling and setting font-family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    background-image: url('../images/background_02.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Login form styling */
.dropout_form {
    width: 100%;
    max-width: 50%;
    background: #fff;
    border-radius: 6px;
    padding: 15px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.dropout_form h3 {
    font-family: 'Roboto';
    font-size: 1.7rem;
    color: #494949;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.dropout_form p {
    text-align: center;
    font-weight: 500;
}

form .input_box label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
}

/* Input field styling */
form .input_box input {
    width: 100%;
    height: 50px;
    border: 1px solid #DADAF2;
    border-radius: 5px;
    outline: none;
    background: #F8F8FB;
    font-size: 17px;
    padding: 0px 20px;
    margin-bottom: 25px;
    transition: 0.2s ease;
}

form .input_box input:focus {
    border-color: #67A97B;
}

form .input_box .password_title {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

form .input_box {
    position: relative;
}

a {
    text-decoration: none;
    color: #626cd6;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

/* Login button styling */
form button {
    width: auto;
    padding: 10px 20px;
    height: 56px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgb(96, 170, 119);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 28px;
    transition: 0.3s ease;
}

form button:hover {
    background: rgb(46, 87, 59);
}

.dropout-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dropout-buttons .go-home-btn {
    background: #fff;
    color: #2E3532;
    border: 1px solid #2E3532;
}

.dropout-buttons .go-home-btn:hover {
    background-color: #F8F8FB;
    color: #2E3532;
}

/* Button Glow Effect */
.btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }

  .btn i {
    margin-left: 10px;
  }

  .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  .btn::before {
    content: "";
    background: linear-gradient(
      45deg,
      #1c2322, #373d3c, #495b58, #57736f,
      #2e3a44, #161312, #787167, #414232
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    /* filter: blur(8px); */
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
  }

  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .btn:hover::before {
    opacity: 1;
  }
  
  .btn:active:after {
    background: transparent;
  }
  
  .btn:active {
    color: #fff;
  }