@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: 'bjola';
  src: url(./bjola.ttf) format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


html {
  scroll-behavior: smooth;
  --s: 220px; /* control the size*/
  --c1: rgba(238, 242, 245, 0.5);
  --c2: rgba(173, 186, 192, 0.5);
  
  --_g: var(--c1) 90deg, #0000 90.5deg;
  background:
   conic-gradient(from -45deg, var(--_g)),
   conic-gradient(from 135deg, var(--_g)) calc(var(--s)/2) 0,
   var(--c2);
  background-size: var(--s) var(--s);
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

section {
display: flex;
padding: 0 10%;
justify-content: space-between;
}

/* Modal Styles */

.course-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: none; 
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  justify-content: center;
  align-items: center;
}

.course-modal.open {
  display: flex;
  opacity: 1;
  z-index: 9999;
  transform: translateY(0);
}

.course-modal-content {
  display: flex;
  flex-direction: column;
  background: #e6ecf0;
  padding: 10px 10px;
  border-radius: 10px;
  min-width: 50%;
  max-width: 100%;
  height: auto;
}

.dropout-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: none; 
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  justify-content: center;
  align-items: center;
}

.dropout-modal.open {
  display: flex;
  opacity: 1;
  z-index: 9999;
  transform: translateY(0);
}

.dropout-modal-content {
  display: flex;
  flex-direction: column;
  background: #e6ecf0;
  padding: 10px 10px;
  border-radius: 10px;
  min-width: 50%;
  max-width: 100%;
  height: auto;
}

.top-form {
  display: flex;
  justify-content: flex-end;
}

.top-form .close-modal {
  color: #111111;
  cursor: pointer;
  font-size: 20px;
}

.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #353535;
}

form .input_box label {
  color: #111111;
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

/* Input field styling */
form .input_box input {
  width: 100%;
  height: 50px;
  border: 1px solid #DADAF2;
  border-radius: 5px;
  outline: none;
  background: #F8F8FB;
  font-size: 17px;
  padding: 0px 20px;
  margin-bottom: 25px;
  transition: 0.2s ease;
}

form .input_box select {
  width: 100%;
  height: 50px;
  border: 1px solid #DADAF2;
  border-radius: 5px;
  outline: none;
  background: #F8F8FB;
  font-size: 17px;
  padding: 0px 20px;
  margin-bottom: 25px;
  transition: 0.2s ease;
  opacity: 0.7;
}

form .input_box select:focus {
  border-color: #67A97B;
  opacity: 1;
}

form .input_box input:focus {
  border-color: #67A97B;
}

form .input_box .password_title {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

form .input_box {
  position: relative;
}


/* Login button styling */
form button {
  width: 100%;
  padding: 10px 20px;
  height: 56px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: rgb(96, 170, 119);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 28px;
  transition: 0.3s ease;
}

form button:hover {
  background: rgb(46, 87, 59);
}

/* Button Glow Effect */
form .btn {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width: 100%;
  padding: 10px 10px;
  height: 56px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: rgb(96, 170, 119);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s ease;
  color: #FFF;
  position: relative;
  z-index: 0;
}

.btn i {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #1c2322, #373d3c, #495b58, #57736f,
    #2e3a44, #161312, #787167, #414232
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  /* filter: blur(8px); */
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}


@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #fff;
}



/* Home Section Styling */

#home-section {
  background-image: url('../images/background_01.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
}

.section-heading {
font-family: 'Montserrat';
font-weight: 900;
text-align: center;
font-size: 3.125rem;
color: #2E3532;
text-decoration: underline;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-right: 2.5rem;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.25rem;
  padding-bottom: 0.125rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 1px solid transparent;
}

nav a:hover {
  color: #a4c868;
  border-bottom: 1px solid #a4c868;
}

nav {
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  display: flex;
  justify-content: space-between;
  background-color: #2E3532;
  padding: 0 5rem;
  border-radius: 1.25rem; 
  z-index: 1000;
  transition: margin 0.25s ease, border-radius 0.25s ease, background-color 0.25s ease;
}

.home-content {
  padding-top: 9.375rem; 
  height: calc(100vh - 9.375rem);
  overflow: hidden;
}

.home-left {
  float: left; 
  width: 50%;
  padding-right: 2.5rem;
  box-sizing: border-box;
}

.home-right {
  margin-top: 2rem;
  margin-right: 3rem;
  float: right;
  padding-left: 2.5rem;
  box-sizing: border-box;
}

.home-left-main-title01, .home-left-main-title02 {
  margin: 0;
  font-family: 'bjola', sans-serif;
  white-space: pre-wrap;
  font-size: 8.125rem;
  transition: color 0.2s ease;
  transition: transform .4s ease-in-out;
}

.home-left-main-title01 {
  color: #67A97B;
  transform-origin: left bottom;
}

.home-left-main-title01:hover, .home-left-main-title02:hover {
  transform: scale(1.009);
}

.home-left-main-title02 {
  color: #2E3532;
  margin-left: 3.125rem;
  margin-bottom: 2.5rem;
  transform-origin: right bottom;
}

.home-left .home-left-para {
  font-family: 'Poppins', 'Roboto';
  width: 100%;
  font-size: 1.125rem;
  color: #000000;
}

.home-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9375rem;
  min-width: 21.875rem;
  background-color: #424242;
  color: #ffffff;
  border-radius: 0.625rem; 
  font-size: 1.25rem; 
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-left: 5rem; 
  margin-bottom: 1rem;
}

.home-btn i {
  margin-right: 0.625rem;
  margin-left: 1.875rem;
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.3s ease;
}

.home-btn:hover {
  text-decoration: none;
  background-color: #4e855e;
}

.home-btn:active {
  text-decoration: none;
  background-color: #2d5037;
}

.home-right .home-btn:hover > i {
  translate: 0.5rem;
}

.home-right-para {
  color: #2B3C35;
  margin-left: 5rem;
}

/* Why Choose Us Section Styiling */

#why-choose-us {
  margin-top: 1.5rem;
  display: block;
}

.box-container {
  font-family: 'Poppins';
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2.5rem;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  animation: scrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.box-container div {
  background: #262626;
  padding: 2.5rem;
  font-size: 0.8125rem;
  font-weight: 300;
  transition: background 0.5s ease, transform 0.5s ease;
}

.box-container div i {
  font-size: 3.125rem;
}

.box-container div h2 {
  font-size: 1.875rem;
  font-weight: 500;
  margin-top: 1.875rem;
  margin-bottom: 0.9375rem;
  transition: color 0.5s ease;
}

.box-container div p {
  font-size: 1.25rem;
  text-align: start;
}

.box-container div:hover {
transform: translateY(-10px);
}

.box-container div:hover > h2{
color: #71c588;
}

/* About Us Section Styling */

.about {
  background: white;
  display: flex;
  flex-direction: column; 
  align-items: center;
  color: #000000;
  padding-top: 3rem;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.about-main img {
  width: 50%;
  max-width: 100%; 
  height: auto;
  animation: scrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.about-all-text {
  width: 50%;
  padding-left: 20px;
  text-align: left;
  animation: scrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.about-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
}

.about-all-text h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #777777;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 10px;
}

.about-all-text h1 {
  font-family: "Dosis", sans-serif;
  font-size: 65px;
  color: #2E3532;
  font-weight: 700;
  margin-bottom: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.span-hover {
  border-bottom: 3px solid black;
  text-decoration: none;
  font-style: italic;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.about-all-text h1:hover .span-hover {
  color: #4e855e;
  border-bottom: 3px solid #4e855e;
}

.about-all-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #777777;
  line-height: 30px;
  margin-bottom: 35px;
}

.about-btn a {
  background: white;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: #111111;
  border: none;
  outline: none;
  box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 6%);
  border-radius: 10px;
  margin-right: 20px;
  transition:all .3s ease;
}

.about-btn a:hover {
  background-color: #4e855e;
  color: white;
  cursor: pointer;
}

.about-btn a:active {
  background-color: #2d5037;
}

.about-btn .about-btn-2 {
  background: #2E3532;
  color: white;
}

/* Contact Section Styling */

body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

#contact {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  max-width: 80%;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 500;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #63686E;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #373640);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #63686E;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 3rem;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.contact-form .contact-send-btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #424242;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.contact-send-btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #63686E;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #424242;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  color: #424242;
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #424242, #6f6f6f);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #2E3532;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom,  #acb2b9, #2E3532);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

/* Footer Section Styling */

.footer {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 50px 0;
  background-color: #fff;
  color: #353535;
}
.footer .header a img {
  width: 30rem;
}
.footer .nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #414141;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer .nav a:hover {
  color: #a4c868;
}
.footer .footer-text {
  margin-top: 20px;
  font-size: 14px;
  color: #888;
}


/* Page Loader Styling */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.95s, visibility 0.75s;
  z-index: 9999999;
  }
  
  .loader--hidden {
  opacity: 0;
  visibility: hidden;
  }
  
  .loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 0.95s ease infinite;
  }
  
  /* Keyframes */
  
  @keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
  }
  
  @keyframes scrollReveal {
    from {
      opacity: 0;
      transform: translateY(100px);
    } to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

/* Media Queries */

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}


@media screen and (max-width:1375px) {
  .home-left {
    width: 40%;
    max-width: 50%;
  }

  .home-left-main-title01, .home-left-main-title02 {
    font-size: 7rem;
  }

  .box-container div h2 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }

  .box-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2.5rem;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
  }
}

@media screen and (max-width:1255px) {
  .home-left {
    width: 40%;
    max-width: 50%;
  }

  .home-left-main-title01, .home-left-main-title02 {
    font-size: 5rem;
  }
}