@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: 'bjola';
  src: url(./bjola.ttf) format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


html {
  scroll-behavior: smooth;
  --s: 220px; /* control the size*/
  --c1: rgba(238, 242, 245, 0.5);
  --c2: rgba(173, 186, 192, 0.5);
  
  --_g: var(--c1) 90deg, #0000 90.5deg;
  background:
   conic-gradient(from -45deg, var(--_g)),
   conic-gradient(from 135deg, var(--_g)) calc(var(--s)/2) 0,
   var(--c2);
  background-size: var(--s) var(--s);
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

section {
display: flex;
padding: 0 10%;
justify-content: space-between;
margin-top: 0px;
}

#home-section {
  background-image: url('../images/background_01.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
}

.home-content {
  padding-top: 9.375rem; 
  height: calc(100vh - 9.375rem);
  display: flex;
  justify-content: space-between;
}

.section-heading {
font-family: 'Montserrat';
font-weight: 900;
text-align: center;
font-size: 3.125rem;
color: #2E3532;
margin-bottom: 3.125rem;
text-decoration: underline;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-right: 2.5rem;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.25rem;
  padding-bottom: 0.125rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 1px solid transparent;
}

nav a:hover {
  color: #a4c868;
  border-bottom: 1px solid #a4c868;
}

nav {
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  display: flex;
  justify-content: space-between;
  background-color: #2E3532;
  padding: 0 5rem;
  border-radius: 1.25rem; 
  z-index: 1000;
  transition: margin 0.25s ease, border-radius 0.25s ease, background-color 0.25s ease;
}

.home-left {
  margin-top: 2.5rem;
}

.home-left-main-title01, .home-left-main-title02 {
  margin: 0;
  font-family: 'bjola', sans-serif;
  white-space: pre-wrap;
  font-size: 8.125rem;
  transition: color 0.2s ease;
}

.home-left-main-title01 {
  color: #67A97B;
}

.home-left-main-title01:hover {
  color: #2E3532;
}

.home-left-main-title01:hover + .home-left-main-title02 {
  color: #67A97B;
}

.home-left-main-title02 {
  color: #2E3532;
  margin-left: 3.125rem;
  margin-bottom: 2.5rem;
}

.home-left .home-left-para {
  font-family: 'Poppins', 'Roboto';
  width: 80%;
  font-size: 1.125rem;
  color: #000000;
}

span {
  color: #23492e;
  text-decoration: underline;
  font-style: italic;
}

.home-right {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  margin-top: 1.25rem;
  gap: 1.25rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9375rem;
  min-width: 21.875rem;
  background-color: #424242;
  color: #ffffff;
  border-radius: 0.625rem; 
  font-size: 1.25rem; 
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-left: 5rem; 
}

.btn:hover {
  background-color: #4e855e;
}

.btn:active {
  background-color: #2d5037;
}

.home-right .btn:hover > i {
  translate: 0.5rem;
}

.btn i {
  margin-right: 0.625rem;
  margin-left: 1.875rem;
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.3s ease;
}

.home-right-para {
  color: #2B3C35;
  margin-left: 5rem;
}

/* Why Choose Us Section Styiling */

#why-choose-us {
  margin-top: 3.125rem;
  display: block;
}

.box-container {
  font-family: 'Poppins';
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2.5rem;
  margin-top: 3.125rem;
}

.box-container div {
  background: #262626;
  padding: 2.5rem;
  font-size: 0.8125rem;
  font-weight: 300;
  transition: background 0.5s ease, transform 0.5s ease;
  margin-bottom: 31.25rem;
}

.box-container div i {
  font-size: 3.125rem;
}

.box-container div h2 {
  font-size: 1.875rem;
  font-weight: 500;
  margin-top: 1.875rem;
  margin-bottom: 0.9375rem;
  transition: color 0.5s ease;
}

.box-container div p {
  font-size: 1.25rem;
  text-align: start;
}

.box-container div:hover {
transform: translateY(-10px);
}

.box-container div:hover > h2{
color: #71c588;
}

/* Page Loader Styling */

.loader {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: #333333;
transition: opacity 0.95s, visibility 0.75s;
z-index: 9999999;
}

.loader--hidden {
opacity: 0;
visibility: hidden;
}

.loader::after {
content: "";
width: 75px;
height: 75px;
border: 15px solid #dddddd;
border-top-color: #009578;
border-radius: 50%;
animation: loading 0.95s ease infinite;
}

@keyframes loading {
from {
  transform: rotate(0turn);
}
to {
  transform: rotate(1turn);
}
}