@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: 'bjola';
  src: url(./bjola.ttf) format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


html {
  scroll-behavior: smooth;
  --s: 220px; /* control the size*/
  --c1: rgba(238, 242, 245, 0.5);
  --c2: rgba(173, 186, 192, 0.5);
  
  --_g: var(--c1) 90deg, #0000 90.5deg;
  background:
   conic-gradient(from -45deg, var(--_g)),
   conic-gradient(from 135deg, var(--_g)) calc(var(--s)/2) 0,
   var(--c2);
  background-size: var(--s) var(--s);
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

section {
display: flex;
padding: 0 10%;
justify-content: space-between;
}

/* Home Section Styling */

#home-section {
  background-image: url('../images/background_01.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
}

.section-heading {
font-family: 'Montserrat';
font-weight: 900;
text-align: center;
font-size: 3.125rem;
color: #2E3532;
text-decoration: underline;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-right: 2.5rem;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.25rem;
  padding-bottom: 0.125rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 1px solid transparent;
}

nav a:hover {
  color: #a4c868;
  border-bottom: 1px solid #a4c868;
}

nav {
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  display: flex;
  justify-content: space-between;
  background-color: #2E3532;
  padding: 0 5rem;
  border-radius: 1.25rem; 
  z-index: 1000;
  transition: margin 0.25s ease, border-radius 0.25s ease, background-color 0.25s ease;
}

.home-content {
  padding-top: 9.375rem; 
  height: calc(100vh - 9.375rem);
  overflow: hidden;
}

.home-left {
  float: left; 
  width: 50%;
  padding-right: 2.5rem;
  box-sizing: border-box;
}

.home-right {
  margin-top: 2rem;
  margin-right: 3rem;
  float: right;
  padding-left: 2.5rem;
  box-sizing: border-box;
}

.home-left-main-title01, .home-left-main-title02 {
  margin: 0;
  font-family: 'bjola', sans-serif;
  white-space: pre-wrap;
  font-size: 8.125rem;
  transition: color 0.2s ease;
  transition: transform .4s ease-in-out;
}

.home-left-main-title01 {
  color: #67A97B;
  transform-origin: left bottom;
}

.home-left-main-title01:hover, .home-left-main-title02:hover {
  transform: scale(1.009);
}

.home-left-main-title02 {
  color: #2E3532;
  margin-left: 3.125rem;
  margin-bottom: 2.5rem;
  transform-origin: right bottom;
}

.home-left .home-left-para {
  font-family: 'Poppins', 'Roboto';
  width: 100%;
  font-size: 1.125rem;
  color: #000000;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9375rem;
  min-width: 21.875rem;
  background-color: #424242;
  color: #ffffff;
  border-radius: 0.625rem; 
  font-size: 1.25rem; 
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-left: 5rem; 
  margin-bottom: 1rem;
}

.btn i {
  margin-right: 0.625rem;
  margin-left: 1.875rem;
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #4e855e;
}

.btn:active {
  background-color: #2d5037;
}

.home-right .btn:hover > i {
  translate: 0.5rem;
}

.home-right-para {
  color: #2B3C35;
  margin-left: 5rem;
}

/* Why Choose Us Section Styiling */

#why-choose-us {
  margin-top: 1.5rem;
  display: block;
}

.box-container {
  font-family: 'Poppins';
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2.5rem;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  animation: scrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.box-container div {
  background: #262626;
  padding: 2.5rem;
  font-size: 0.8125rem;
  font-weight: 300;
  transition: background 0.5s ease, transform 0.5s ease;
}

.box-container div i {
  font-size: 3.125rem;
}

.box-container div h2 {
  font-size: 1.875rem;
  font-weight: 500;
  margin-top: 1.875rem;
  margin-bottom: 0.9375rem;
  transition: color 0.5s ease;
}

.box-container div p {
  font-size: 1.25rem;
  text-align: start;
}

.box-container div:hover {
transform: translateY(-10px);
}

.box-container div:hover > h2{
color: #71c588;
}

/* Page Loader Styling */

.loader {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: #333333;
transition: opacity 0.95s, visibility 0.75s;
z-index: 9999999;
}

.loader--hidden {
opacity: 0;
visibility: hidden;
}

.loader::after {
content: "";
width: 75px;
height: 75px;
border: 15px solid #dddddd;
border-top-color: #009578;
border-radius: 50%;
animation: loading 0.95s ease infinite;
}

/* Keyframes */

@keyframes loading {
from {
  transform: rotate(0turn);
}
to {
  transform: rotate(1turn);
}
}

@keyframes scrollReveal {
  from {
    opacity: 0;
    transform: translateY(100px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* About Us Section Styling */

.about {
  background: white;
  display: flex;
  flex-direction: column; 
  align-items: center;
  color: #000000;
  padding-top: 3rem;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.about-main img {
  width: 50%;
  max-width: 100%; 
  height: auto;
  animation: scrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.about-all-text {
  width: 50%;
  padding-left: 20px;
  text-align: left;
  animation: scrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.about-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
}

.about-all-text h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #777777;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 10px;
}

.about-all-text h1 {
  font-family: "Dosis", sans-serif;
  font-size: 65px;
  color: #2E3532;
  font-weight: 700;
  margin-bottom: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.span-hover {
  border-bottom: 3px solid black;
  text-decoration: none;
  font-style: italic;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.about-all-text h1:hover .span-hover {
  color: #4e855e;
  border-bottom: 3px solid #4e855e;
}

.about-all-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #777777;
  line-height: 30px;
  margin-bottom: 35px;
}

.about-btn a {
  background: white;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: #111111;
  border: none;
  outline: none;
  box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 6%);
  border-radius: 10px;
  margin-right: 20px;
  transition:all .3s ease;
}

.about-btn a:hover {
  background-color: #4e855e;
  color: white;
  cursor: pointer;
}

.about-btn .about-btn-2 {
  background: #2E3532;
  color: white;
}




/* Media Queries */
@media screen and (max-width: 1250px) {
  .about {
    width: 100%;
    height: auto;
    padding: 60px 0;
  }
  .about-all-text {
    text-align: center;
    margin-top: 40px;
  }
}

@media screen and (max-width: 650px){
  .about .about-main img {
    margin-bottom: 35px;
  }
  .about-all-text h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
}